@page "/chat"
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.SignalR.Client
@using TarasMessanger.Web.Components.Account
@using TarasMessanger.Web.Components.UIComponents.Messages
@using TarasMessanger.Web.Data
@using TarasMessanger.Web.Services
@using TarasMessenger.Core.Models
@using TarasMessenger.Core.Models.Messages
@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager
@inject NavigationManager NavigationManager
@inject MessageService MessageService
@inject IHttpContextAccessor HttpContextAccessor

@rendermode InteractiveServer

<!-- From Uiverse.io by ahmed150up --> 
<div class="card">
    <div class="chat-header">Chat</div>
    <div class="chat-window">
        <ul class="message-list">
            @foreach (var message in Messages)
            {
                @if (message is TextMessage textMessage)
                {
                    <TextMessageComponent Message="@textMessage" IsMyMessage="@IsMyMessage(textMessage)"></TextMessageComponent>
                }
            }
        </ul>
    </div>
    <div class="chat-input">
        <input type="text" id="user-input" @bind="Input" class="message-input"  placeholder="Type your message here">
        <button id="send_btn" class="send-button" @onclick="@Send">Send</button>
    </div>
</div>

@code {
    private HubConnection _hubConnection;
    
    public string Username { get; set; }
    public List<MessageBase> Messages = new();
    
    public string Input { get; set; }

    private User DefaultUser;

    
    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chatHub"))
            .Build();

        _hubConnection.On<string, string>("ReceiveMessage", (sender, message) =>
        {
            InvokeAsync(async () =>
            {
                Messages = await MessageService.GetMessages(Guid.Empty, 10, 0);
                Messages.Reverse();
                StateHasChanged();
            });
        });

        await _hubConnection.StartAsync();
        
        var user = await UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContextAccessor.HttpContext);
            return;
        }

        Username = await UserManager.GetUserNameAsync(user);

        DefaultUser = new User
        {
            Email = Username,
            Nickname = Username,
            PasswordHash = "sefsefse",
            Id = Guid.Empty,
            CreatedAt = DateTime.MinValue
        };

        Messages = await MessageService.GetMessages(Guid.Empty, 10, 0);
        Messages.Reverse();
    }

    async Task Send()
    {
        var msg = new TextMessage
        {
            User = DefaultUser,
            Text = Input,
            Id = Guid.NewGuid(),
            SendAt = DateTime.UtcNow,
        };
        await MessageService.AddMessage(msg);
        Messages.Add(msg);

        await _hubConnection.SendAsync("SendMessage", Username, Input);
    }

    public bool IsMyMessage(MessageBase message) => message.User.Nickname.Equals(Username);
}